<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Account Page {{email}}</h1>

    <table class='table'>
        <tr><td>Username: </td></tr><tr><td>{{username}}</td></tr>
        <tr><td>Birthday: </td></tr><tr><td>{{birthday}}</td></tr>
        <tr><td>Age: </td></tr><tr><td>{{age}}</td></tr>
    </table>
    <img src="..\assets\corgi.jpg" width="400" height="200"> 

</body>
</html>
